<h2>Add a New Employee</h2>
<form action="/addEmployee" method="POST">
  <label><span>First Name: </span><input type='text' name="firstName"></label><br>
  <label><span>Last Name: </span><input type='text' name="lastName"></label><br>
  <input type="submit" value="submit">
</form>
