<div class="table-responsive">
  <form method="post" action="/Employees/add">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th width="200">
            Employee First Name:
          </th>
          <td>
            <input type="text" name="firstName" placeholder="Enter the first name" required>
          </td>
        </tr>
        <tr>
          <th width="200">
            Employee Last Name:
          </th>
          <td>
            <input type="text" name="lastName" placeholder="Enter the last name" required>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
          </td>
          <td>
            <input type="submit" value="Save" class="btn btn-success">
            <input type="button" value="Cancel" class="btn btn-danger" onclick="cancelAdd()">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
